.background {
    background: #3a4965;
    background-size: cover;
    width: 100%;
}

.content {
    width: 1140px;
    margin: 24px auto;
}

.first-cell-small {
    width: 310px;
    background-color: #fafafa;
    font-family: Arimo;
    color: #484848;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    box-shadow: inset -4px 0px 4px -2px rgba(0,0,0,0.2);
}

.first-cell-big {
    font-size: 30px;
}


table {
    border-collapse: collapse;
    margin-top: 23px;

}


.gorizont-cells {
    width: 277px;
    font-family: Arimo;
    color: #ffffff;
    font-size: 24px;
    font-weight: 700;
    text-align: center;
    line-height: 28px;
    text-transform: uppercase;
    padding-top: 21px;
    padding-bottom: 21px;
    box-shadow: inset -4px 0px 4px -2px rgba(0,0,0,0.2);
}

.standart {
    background-color: #89c331;
}

.ultimate {
    background-color: #f04a56;
}

.premium {
    background-color: #20807c;
}

.price {
    font-family: Arimo;
    color: #484848;
    line-height: 28px;
    background-color: #fafafa;
    padding-top: 29px;
    padding-bottom: 15px;
    padding-left: 34px;
    box-shadow: inset -4px 0px 4px -2px rgba(0,0,0,0.2);
}

.price-big {
    font-size: 60px;
    font-weight: 700;
}

.price-middle {
    font-size: 24px;
    font-weight: 700;
    position: relative;
    bottom: 25px;
}

.price-small {
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
    position: relative;
    right: 30px;
}

.main-text {
    font-family: Arimo;
    color: #484848;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
    background-color: #f2f2f2;
    padding-top: 26px;
    padding-bottom: 26px;
    box-shadow: inset -4px 0px 4px -2px rgba(0,0,0,0.2);
}

.main-text2 {
    font-family: Arimo;
    color: #484848;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
    background-color: #e3e3e3;
    padding-top: 26px;
    padding-bottom: 26px;
    box-shadow: inset -4px 0px 4px -2px rgba(0,0,0,0.2);
}

.fas {
    color: #848484;
    position: relative;
    top: 1px;
    right: 3px;
}

.far {
    color: #848484;
    position: relative;
    top: 1px;
    right: 3px;
}

.bottom-button {
    height: 110px;
    text-align: center;
    background-color: #dddddd;
    box-shadow: inset -4px 0px 4px -2px rgba(0,0,0,0.2);
}

.bottom-button1 {
    height: 110px;
    text-align: center;
    background-color: #eeeeee;
    box-shadow: inset -4px 0px 4px -2px rgba(0,0,0,0.2);
}

.bottom-button2 {
    height: 110px;
    text-align: center;
    background-color: #f4f4f4;;
    box-shadow: inset -4px 0px 4px -2px rgba(0,0,0,0.2);
}

.contact-us {
    font-family: Arimo;
    color: #ffffff;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    border: 0px;
    border-radius: 5px;
    background: #484848;
    padding-top: 16px;
    padding-bottom: 10px;
    padding-left: 43px;
    padding-right: 43px;
    cursor: pointer;
    border-bottom: 6px solid #404040;
}

.contact-us:hover {
    background: #404040;
}

.buy-now {
    font-family: Arimo;
    color: #ffffff;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    border: 0px;
    border-radius: 5px;
    padding-top: 16px;
    padding-bottom: 10px;
    padding-left: 43px;
    padding-right: 43px;
    cursor: pointer;
}

.style1 {
    background: #89c331;
    border-bottom: 6px solid #79b027;
}

.style2 {
    background: #f04a56;
    border-bottom: 6px solid #df3a46;
}

.style3 {
    background: #20807c;
    border-bottom: 6px solid #16736f;
}

.style1:hover {
    background: #79b027;
}

.style2:hover {
    background: #df3a46;
}

.style3:hover {
    background: #16736f;
}